<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" th:href="@{/css/all.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap-blur.css}">
  <link rel="stylesheet" th:href="@{/css/animate.min.css}">
  <link rel="stylesheet" th:href="@{/css/me.css}">
  <title>订单管理</title>
</head>
<body>
<div th:replace="/admin/common::adminNav">
</div>
<div class="container" style="margin-top: 70px">
  <div class="card shadow mb-3">
    <div class="card-header">订单管理</div>
    <table class="table table-hover table-bordered text-center mb-0">
      <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>餐桌id</th>
        <th>用餐人数</th>
        <th>消费金额</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order : ${orderList}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.serverBeginTime}"></td>
        <td th:text="${order.serverEndTime}"></td>
        <td th:text="${order.tid}"></td>
        <td th:text="${order.tableSize}"></td>
        <td th:text="${order.payPrice}"></td>
        <td>
          <button class="btn btn-info btn-sm" th:onclick="'javascript:doList(\''+${order.id}+'\')'">详细</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="card-footer">
      <button class="btn btn-secondary float-right mr-2 shadow" onclick="javascript:window.location.reload()"><i class="fas fa-redo"></i> 刷新</button>
    </div>
  </div>
</div>
<div id="infoModal">

</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/all.js}"></script>
<script>
    function doList(orderId) {
        $.ajax({
            url: '/admin/order/list',
            data: {'orderId': orderId},
            type: 'POST',
            success: function (data) {
                $('#infoModal').html(data);
                $('#exampleModalCenter').modal("show");
            }
        })
    }
</script>
</html>