<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" th:href="@{/css/all.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap-blur.css}">
  <link rel="stylesheet" th:href="@{/css/animate.min.css}">
  <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>

</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/all.js}"></script>
</html>