<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" th:href="@{/css/all.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap-blur.css}">
  <link rel="stylesheet" th:href="@{/css/animate.min.css}">
  <link rel="stylesheet" th:href="@{/css/me.css}">
  <title>餐桌管理</title>
</head>
<body>
<div th:replace="/admin/common::adminNav">
</div>
<div class="container" style="margin-top: 70px">
  <table class="table table-hover table-bordered bg-white text-center shadow">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">状态</th>
      <th scope="col">就餐人数</th>
      <th scope="col">服务开始时间</th>
      <th scope="col">预约开始时间</th>
      <th scope="col">预约结束时间</th>
      <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="table : ${tableList}">
      <td th:text="${table.id}"></td>
      <td>
        <span class="badge" th:classappend="${table.state eq 0}?'badge-secondary':(${table.state eq 1}?'badge-warning':(${table.state eq 2}?'badge-info'))">
          <span th:text="${table.state eq 0}?'空闲中':(${table.state eq 1}?'就餐中':(${table.state eq 2}?'被预约'))"></span>
        </span>
      </td>
      <td th:text="${table.size}"></td>
      <td th:text="${table.serverBeginTime}"></td>
      <td th:text="${table.orderBeginTime}"></td>
      <td th:text="${table.orderEndTime}"></td>
      <td>
        <button class="btn btn-info btn-sm" th:onclick="'javascript:doInfo(\''+${table.id}+'\')'">修改</button>
        <button class="btn btn-danger btn-sm" th:onclick="'javascript:deleteTable(\''+${table.id}+'\')'">删除</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary float-right shadow" data-toggle="modal" data-target="#saveTableModal"><i class="fas fa-plus"></i> 新建餐桌</button>
  <button class="btn btn-secondary float-right mr-2 shadow" onclick="javascript:window.location.reload()"><i class="fas fa-redo"></i> 刷新</button>
</div>

<!--新建-->
<div class="modal fade" id="saveTableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
     th:fragment="save_table">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">餐桌详情</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/admin/table/save}" th:method="post">
          <div class="form-group">
            <label for="tableSize1">顾客人数</label>
            <input type="text" class="form-control" id="tableSize1" name="tableSize">
          </div>
          <button type="submit" class="btn btn-primary float-right">保存</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="infoModal">
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/all.js}"></script>
<script>
    function doInfo(tableId) {
        $.ajax({
            url: '/admin/table/info',
            data: {'tableId': tableId},
            type: 'POST',
            success: function (data) {
                $('#infoModal').html(data);
                $('#tableModal').modal("show");
            }
        })
    }

    function deleteTable(tableId) {
        $.ajax({
            url: '/admin/table/delete',
            data: {'tableId': tableId},
            type: 'POST',
            success: function () {
                window.location.reload();
            }
        })
    }

</script>
</html>