<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/all.css" th:href="@{/css/all.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap-blur.css" th:href="@{/css/bootstrap-blur.css}">
    <title>Title</title>
    <style>
        body {
            background-image: url("/img/background.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
        }

        .subtitleBg {
            background: rgba(0, 0, 0, 0.6);
            padding: 5px;
            font-weight: bold;
        }

        .col-lg-2 {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .banner-rounded {
            border-radius: .25rem .25rem 0 0;
        }

        .badge {
            font-size: 100%;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="alert alert-success col-md-12 shadow mt-3">
                <h1 class="alert-heading m-0 ">
                    请 <span class="badge badge-info">6324</span> 编号的顾客到 <span class="badge badge-info">1号桌</span> 就坐用餐
                </h1>
            </div>
            <div class="alert alert-primary col-md-12 shadow mt-3" role="alert">
                总桌数：<span class="badge badge-secondary">12</span>，空闲：<span class="badge badge-success">8</span>
                ，就餐：<span class="badge badge-warning">3</span> ，预约：<span class="badge badge-info">1</span>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="card text-center text-white bg-secondary shadow">
                        <div class="card-header">
                            <div class="badge badge-light">1号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-chair"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer"><small>空闲</small></div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="card text-center text-white bg-warning shadow">
                        <div class="card-header">
                            <div class="badge badge-light">2号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-utensils"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer">
                            <small>已就餐3分钟</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="card text-center text-white bg-info shadow">
                        <div class="card-header">
                            <div class="badge badge-light">3号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-clock"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer"><small>预约至8:00</small></div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="card text-center text-white bg-secondary shadow">
                        <div class="card-header">
                            <div class="badge badge-light">4号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-chair"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer"><small>空闲</small></div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="card text-center text-white bg-secondary shadow">
                        <div class="card-header">
                            <div class="badge badge-light">5号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-chair"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer"><small>空闲</small></div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="card text-center text-white bg-secondary shadow">
                        <div class="card-header">
                            <div class="badge badge-light">6号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-chair"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer"><small>空闲</small></div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="card text-center text-white bg-warning shadow">
                        <div class="card-header">
                            <div class="badge badge-light">7号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-utensils"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer">
                            <small>已就餐3分钟</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="card text-center text-white bg-secondary shadow">
                        <div class="card-header">
                            <div class="badge badge-light">8号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-chair"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer"><small>空闲</small></div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="card text-center text-white bg-secondary shadow">
                        <div class="card-header">
                            <div class="badge badge-light">9号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-chair"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer"><small>空闲</small></div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="card text-center text-white bg-warning shadow">
                        <div class="card-header">
                            <div class="badge badge-light">10号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-utensils"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer">
                            <small>已就餐3分钟</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="card text-center text-white bg-secondary shadow">
                        <div class="card-header">
                            <div class="badge badge-light">11号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-chair"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer"><small>空闲</small></div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="card text-center text-white bg-secondary shadow">
                        <div class="card-header">
                            <div class="badge badge-light">12号桌</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-2x fa-chair"></i></h5>
                            <p class="card-text">4人桌</p>
                        </div>
                        <div class="card-footer"><small>空闲</small></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow mt-3">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid banner-rounded"
                                 src="/img/hell/202004021153066672_640_398.jpg"
                                 alt="...">
                            <div class="carousel-caption">
                                <h5 class="subtitleBg">【莓妙小樱】上新甜品站，买1送1卷速领</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid banner-rounded"
                                 src="/img/hell/202003032353026212_640_398.jpg"
                                 alt="...">
                            <div class="carousel-caption d-none d-block">
                                <h5 class="subtitleBg">套餐限时20元|巨无霸：我在</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid banner-rounded"
                                 src="/img/hell/201905201102185114_640_398.jpg"
                                 alt="...">
                            <div class="carousel-caption d-none d-block">
                                <h5 class="subtitleBg">我们就相信年轻人：2019年520全国招聘周</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item bg-secondary text-white"><b>叫号队列</b></li>
                    <li class="list-group-item">6324<span class="badge badge-primary">8人</span></li>
                    <li class="list-group-item">6325<span class="badge badge-primary">4人</span></li>
                    <li class="list-group-item">6326<span class="badge badge-primary">2人</span></li>
                    <li class="list-group-item">6327<span class="badge badge-primary">1人</span></li>
                    <li class="list-group-item">6328<span class="badge badge-primary">6人</span></li>
                </ul>
            </div>
            <button class="btn btn-danger btn-block btn-lg mt-3" style="height: 100px" data-toggle="modal"
                    data-target="#queueModal"><i class="fas fa-ticket-alt"></i> 点我叫号
            </button>
            <!-- Modal -->
            <div class="modal fade" id="queueModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">叫号信息表单</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center align-items-center" id="modalBody">
                            <h5>用餐人数：<span class="badge badge-primary" id="num">1</span></h5>
                            <div class="btn-group btn-group-toggle col-12 mt-3 mb-3 p-0" id="selectBtnGroup"
                                 data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="number" id="option1" autocomplete="off" value="1"
                                           checked>1
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="number" id="option2" autocomplete="off" value="2">2
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="number" id="option3" autocomplete="off" value="3">3
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="number" id="option4" autocomplete="off" value="4">4
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="number" id="option5" autocomplete="off" value="5">5
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="number" id="option6" autocomplete="off" value="6">6
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="number" id="option7" autocomplete="off" value="7">7
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="number" id="option8" autocomplete="off" value="8">8
                                </label>
                            </div>

                            <div id="alert" class="alert alert-success overflow-hidden" style="display: none">
                                排队成功！您的凭证码为：<span class="badge badge-dark" id="queueId">6324</span><br>
                                用餐人数：<span class="badge badge-dark" id="queueNumber"></span><br>
                                请拍照保存您的凭证码以便使用。
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-primary" id="doQueue">确定</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/all.js" th:src="@{/js/all.js}"></script>
<script>
    $(function () {
        //用户输入就餐人数操作
        $('input[type=radio][name=number]').on('change', function () {
            let value = this.value;
            $('#num').text(value);
        })

        //用户确认排队操作
        $('#doQueue').on('click', function () {
            let value = $('#num').text();
            $('#queueNumber').text(value);
            $('#alert').slideDown();
            $('#doQueue').hide();
        })

        //关闭modal时 恢复alert操作
        $('#queueModal').on('hidden.bs.modal', function () {
            $('#alert').hide();
            $('#doQueue').show();
            $('#selectBtnGroup .btn').removeClass("focus").removeClass("active");
            $('#selectBtnGroup').children(":first").addClass("active");
            $('#num').text(1);
        })
    })
</script>
</html>