<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/all.css" th:href="@{/css/all.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap-blur.css" th:href="@{/css/bootstrap-blur.css}">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">

    <title>顾客菜单</title>
    <style>
        /*body {*/
        /*    background-image: url("/img/background.jpg");*/
        /*    background-attachment: fixed;*/
        /*    background-repeat: no-repeat;*/
        /*    background-size: cover;*/
        /*    -moz-background-size: cover;*/
        /*    -webkit-background-size: cover;*/
        /*}*/

        .row .p-2 > div {
            padding: .5rem;
        }

        .badge {
            font-size: 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light-blur shadow-sm mb-3">
    <div class="navbar-brand"><i class="fas fa-utensils text-primary"></i> <span class="text-primary">EasyServing</span>
        <span class="badge badge-info">1号桌</span></div>
    <div class="navbar-nav mr-auto text-muted">
        已就餐 00:05:38
    </div>
    <button class="btn btn-outline-danger">退出</button>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="list-group card shadow" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#staple"
                   role="tab" aria-controls="home">
                    <i class="fas fa-hamburger text-warning mr-2"
                       style="width: 2rem"></i>主食</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#snack" role="tab"
                   aria-controls="profile">
                    <i class="fas fa-drumstick-bite text-warning mr-2"
                       style="width: 2rem"></i>小食</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#dessert" role="tab"
                   aria-controls="messages">
                    <i class="fas fa-ice-cream mr-2 text-info"
                       style="width: 2rem"></i>甜品</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#drink" role="tab"
                   aria-controls="settings">
                    <i class="fas fa-cocktail mr-2 text-info"
                       style="width: 2rem"></i>饮品</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#breakfast"
                   role="tab"
                   aria-controls="settings">
                    <i class="fas fa-bread-slice mr-2 text-warning"
                       style="width: 2rem"></i>早餐</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#package" role="tab"
                   aria-controls="settings">
                    <i class="fas fa-box-open text-muted mr-2"
                       style="width: 2rem"></i>套餐</a>
            </div>
        </div>
        <div class="col-10 pl-0">
            <div class="card shadow col-12 bg-light-blur">
                <div class="row p-2">
                    <div class="col-lg-3">
                        <div class="card bg-light shadow">
                            <div class="row no-gutters">
                                <div class="col-md-6">
                                    <img src="/img/item/202003191444328139.png" class="card-img">
                                </div>
                                <div class="col-md-6 m-auto">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>汉堡包</b></h5>
                                        <p class="card-text"><span class="badge badge-pill badge-secondary"><i
                                                class="fas fa-yen-sign"></i> 8.00</span>
                                        </p>
                                        <button class="btn btn-primary btn-block"><i class="fas fa-cart-plus"></i> 加入购物车
                                        </button>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card-footer">
                                        <small>百分百纯牛肉只以少许盐与胡椒调味配搭爽脆酸瓜洋葱粒与美味番茄醬经典滋味让你无法抵挡!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card bg-light shadow">
                            <div class="row no-gutters">
                                <div class="col-md-6">
                                    <img src="/img/item/202003191445238413.png" class="card-img">
                                </div>
                                <div class="col-md-6 m-auto">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>吉士汉堡包</b></h5>
                                        <p class="card-text"><span
                                                class="badge badge-pill badge-secondary"><i
                                                class="fas fa-yen-sign"></i> 10.00</span>
                                        </p>
                                        <button class="btn btn-primary btn-block"><i class="fas fa-cart-plus"></i> 加入购物车
                                        </button>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card-footer">
                                        <small>百分百纯牛肉与香软芝士融为一体配合爽脆酸瓜洋葱粒与美味番茄醬丰富口感一咬即刻涌现！</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/all.js" th:src="@{/js/all.js}"></script>
</html>